h1 {
  color :#ff00ff;
   font-size :40px;
}
h2 {
  color :#191970;
  font-size :20px
  font-family :"cursive";
}
img {
  width:200px;
  height:20px;
 
}

/*これコピペだから汚い*/
.container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden; /* コンテナ外の要素を表示しないようにする */
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .gif {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container:hover .gif {
    display: block;
  }